<app-market-data-ticker></app-market-data-ticker>
<mat-card class="nav-card">
      <table class="full-width" cellspacing="0">
        <tr>
            <td>
              <mat-tab-group class="main-panel-tabs">
                  <mat-tab label="TRADES">
                  </mat-tab>
                  <mat-tab label="TRANSFERS" disabled>
                  </mat-tab>
                  <mat-tab label="TRANSPORTS" disabled>
                  </mat-tab>
              </mat-tab-group>
            </td>
            <td>
                <app-user-actions></app-user-actions>
            </td>
        </tr>
      </table>
</mat-card>
<br/>
<app-trade-search></app-trade-search>